name: CD Pipeline

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do c처digo
        uses: actions/checkout@v2

      - name: Instalar Docker Compose
        run: |
          sudo curl -L "https://github.com/docker/compose/releases/latest/download/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
          sudo chmod +x /usr/local/bin/docker-compose

      - name: Fazer login no Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: sa-east-1

      - name: Build da imagem Docker
        run: |
          docker-compose -f docker-compose.yml build

      - name: Tag da imagem com ECR
        run: |
          docker tag fcg-app:latest ${{ steps.login-ecr.outputs.registry }}/fcg-app:latest

      - name: Push da imagem para o ECR
        run: |
          docker push ${{ steps.login-ecr.outputs.registry }}/fcg-app:latest

      - name: Criar Dockerrun.aws.json dinamicamente
        run: |
          echo '{
            "AWSEBDockerrunVersion": 1,
            "Image": {
              "Name": "${{ steps.login-ecr.outputs.registry }}/fcg-app:latest",
              "Update": "true"
            },
            "Ports": [
              {
                "ContainerPort": "80"
              }
            ]
          }' > Dockerrun.aws.json

      - name: Criar zip de deploy
        run: zip -r deploy.zip Dockerrun.aws.json

      - name: Upload do pacote para o S3
        run: |
          aws s3 cp deploy.zip s3://fcg-deployments/deploy-${{ github.run_number }}.zip
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: sa-east-1

      - name: Criar nova vers찾o no Beanstalk
        run: |
          aws elasticbeanstalk create-application-version \
            --application-name FiapCloudGames \
            --version-label fcg-${{ github.run_number }} \
            --source-bundle S3Bucket="fcg-deployments",S3Key="deploy-${{ github.run_number }}.zip" \
            --region sa-east-1
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: sa-east-1

      - name: Atualizar o ambiente no Beanstalk
        run: |
          aws elasticbeanstalk update-environment \
            --application-name FiapCloudGames \
            --environment-name fcg-dev \
            --version-label fcg-${{ github.run_number }} \
            --region sa-east-1
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: sa-east-1
name: CD Pipeline

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do c처digo
        uses: actions/checkout@v2

      - name: Instalar Docker Compose
        run: |
          sudo curl -L "https://github.com/docker/compose/releases/latest/download/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
          sudo chmod +x /usr/local/bin/docker-compose

      - name: Fazer login no Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: sa-east-1

      - name: Build da imagem Docker
        run: |
          docker-compose -f docker-compose.yml build

      - name: Tag da imagem com ECR
        run: |
          docker tag fcg-app:latest ${{ steps.login-ecr.outputs.registry }}/fcg-app:latest

      - name: Push da imagem para o ECR
        run: |
          docker push ${{ steps.login-ecr.outputs.registry }}/fcg-app:latest

      - name: Criar Dockerrun.aws.json dinamicamente
        run: |
          echo '{
            "AWSEBDockerrunVersion": 1,
            "Image": {
              "Name": "${{ steps.login-ecr.outputs.registry }}/fcg-app:latest",
              "Update": "true"
            },
            "Ports": [
              {
                "ContainerPort": "80"
              }
            ]
          }' > Dockerrun.aws.json

      - name: Criar zip de deploy
        run: zip -r deploy.zip Dockerrun.aws.json

      - name: Upload do pacote para o S3
        run: |
          aws s3 cp deploy.zip s3://fcg-deployments/deploy-${{ github.run_number }}.zip
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: sa-east-1

      - name: Criar nova vers찾o no Beanstalk
        run: |
          aws elasticbeanstalk create-application-version \
            --application-name FiapCloudGames \
            --version-label fcg-${{ github.run_number }} \
            --source-bundle S3Bucket="fcg-deployments",S3Key="deploy-${{ github.run_number }}.zip" \
            --region sa-east-1
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: sa-east-1

      - name: Atualizar o ambiente no Beanstalk
        run: |
          aws elasticbeanstalk update-environment \
            --application-name FiapCloudGames \
